<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.examsys.dao.QuestionLibraryMapper">

  <resultMap id="BaseResultMap" type="com.examsys.model.QuestionLibrary" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="options" property="options" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>

  <!--新建试卷-->
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.examsys.model.QuestionLibrary" >
    insert into question_library (id, content, options,
      answer, `type`)
    values (#{id,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{options,jdbcType=VARCHAR},
      #{answer,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR})
  </insert>

  <!--根据内容和选项查询-->
  <select id="selectByQuestion" parameterType="com.examsys.model.QuestionLibrary" resultMap="BaseResultMap">
    select id, content, options, answer, `type`
    from question_library
    where content = #{content} and options=#{options}
  </select>

  <!--获取所有题目-->
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, content, options, answer, `type`
    from question_library
  </select>




  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from question_library
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <update id="updateByPrimaryKey" parameterType="com.examsys.model.QuestionLibrary" >
    update question_library
    set content = #{content,jdbcType=VARCHAR},
      options = #{options,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, content, options, answer, `type`
    from question_library
    where id = #{id,jdbcType=INTEGER}
  </select>


</mapper>