<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.examsys.dao.StudentPointMapper" >
  <resultMap id="BaseResultMap" type="com.examsys.model.StudentPoint" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="paper_code" property="paperCode" jdbcType="VARCHAR" />
    <result column="student_id" property="studentId" jdbcType="INTEGER" />
    <result column="exam_id" property="examId" jdbcType="INTEGER" />
    <result column="objective_grade" property="objectiveGrade" jdbcType="DOUBLE" />
    <result column="subjective_grade" property="subjectiveGrade" jdbcType="DOUBLE" />
    <result column="objective_status" property="objectiveStatus" jdbcType="INTEGER" />
    <result column="subjective_status" property="subjectiveStatus" jdbcType="INTEGER" />
    <result column="extra_point" property="extraPoint" jdbcType="DOUBLE" />
    <result column="paper_total_point" property="paperTotalPoint" jdbcType="DOUBLE" />
    <result column="student_total_point" property="studentTotalPoint" jdbcType="DOUBLE" />
    <result column="end_flag" property="endFlag" jdbcType="INTEGER" />
    <result column="in_time" property="inTime" jdbcType="VARCHAR" />
    <result column="left_time" property="leftTime" />
  </resultMap>


   <update id="updateSubStatus" parameterType="com.examsys.model.StudentPoint" >
    update student_point
    set subjective_status=#{subjectiveStatus},
        subjective_grade = #{subjectiveGrade,jdbcType=DOUBLE},
        student_total_point = #{studentTotalPoint,jdbcType=DOUBLE}
    where exam_id = #{examId} and student_id = #{studentId}
  </update>


  <select id="selectByIds" parameterType="com.examsys.model.StudentPoint" resultMap="BaseResultMap">
    select * from  student_point
    where exam_id = #{examId} and student_id = #{studentId}
  </select>

  <update id="updateByPK" parameterType="com.examsys.model.StudentPoint" >
    update student_point
    set objective_grade = #{objectiveGrade,jdbcType=DOUBLE},
      student_total_point = #{studentTotalPoint,jdbcType=DOUBLE},
      objective_status=#{objectiveStatus}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateTotalPoint" parameterType="com.examsys.model.StudentPoint" >
    update student_point
    set  paper_total_point = #{paperTotalPoint,jdbcType=DOUBLE},
    end_flag = #{endFlag}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <delete id="deleteByStuId" parameterType="java.lang.Integer">
    delete from student_point
    where student_id = #{stuId,jdbcType=INTEGER}
  </delete>

  <insert id="insertIds" useGeneratedKeys="true" keyProperty="id" parameterType="com.examsys.model.StudentPoint" >
    insert into student_point (id, paper_code, student_id,exam_id,end_flag,in_time,left_time,objective_status,subjective_status)
    values (#{id,jdbcType=INTEGER}, #{paperCode,jdbcType=VARCHAR}, #{studentId,jdbcType=INTEGER},
      #{examId},#{endFlag},#{inTime},#{leftTime},#{0},#{0})
  </insert>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from student_point
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.examsys.model.StudentPoint" >
    insert into student_point (id, paper_code, student_id, 
      objective_grade, subjective_grade, extra_point, 
      paper_total_point, student_total_point,exam_id,objective_status, subjective_status,end_flag,in_time,left_time)
    values (#{id,jdbcType=INTEGER}, #{paperCode,jdbcType=VARCHAR}, #{studentId,jdbcType=INTEGER}, 
      #{objectiveGrade,jdbcType=DOUBLE}, #{subjectiveGrade,jdbcType=DOUBLE}, #{extraPoint,jdbcType=DOUBLE}, 
      #{paperTotalPoint,jdbcType=DOUBLE}, #{studentTotalPoint,jdbcType=DOUBLE},
      #{examId},#{objectiveStatus},#{subjectiveStatus},#{endFlag},#{inTime},#{leftTime})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.examsys.model.StudentPoint" >
    update student_point
    set paper_code = #{paperCode,jdbcType=VARCHAR},
      student_id = #{studentId,jdbcType=INTEGER},
      objective_grade = #{objectiveGrade,jdbcType=DOUBLE},
      subjective_grade = #{subjectiveGrade,jdbcType=DOUBLE},
      extra_point = #{extraPoint,jdbcType=DOUBLE},
      paper_total_point = #{paperTotalPoint,jdbcType=DOUBLE},
      student_total_point = #{studentTotalPoint,jdbcType=DOUBLE},
      exam_id=#{examId},
      objective_status=#{objectiveStatus},
      subjective_status=#{subjectiveStatus},
      in_time = #{inTime},
      left_time = #{leftTime}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <resultMap id="BaseResultUserMap" type="com.examsys.model.entity.StudentPointAndInfoEntity" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="paper_code" property="paperCode" jdbcType="VARCHAR" />
        <result column="student_id" property="studentId" jdbcType="INTEGER" />
        <result column="exam_id" property="examId" jdbcType="INTEGER" />
        <result column="objective_grade" property="objectiveGrade" jdbcType="DOUBLE" />
        <result column="subjective_grade" property="subjectiveGrade" jdbcType="DOUBLE" />
        <result column="objective_status" property="objectiveStatus" jdbcType="INTEGER" />
        <result column="subjective_status" property="subjectiveStatus" jdbcType="INTEGER" />
        <result column="extra_point" property="extraPoint" jdbcType="DOUBLE" />
        <result column="paper_total_point" property="paperTotalPoint" jdbcType="DOUBLE" />
        <result column="student_total_point" property="studentTotalPoint" jdbcType="DOUBLE" />
        <result column="end_flag" property="endFlag" jdbcType="INTEGER" />
        <result column="in_time" property="inTime" jdbcType="VARCHAR" />
        <result column="left_time" property="leftTime" />
        <result column="in_time" property="inTime" jdbcType="VARCHAR" />
        <result column="student_name" property="studentName" />
    </resultMap>


  <select id="selectAllByExamId" resultMap="BaseResultUserMap" parameterType="java.lang.Integer">
    select sp.id, sp.paper_code, sp.student_id, sp.objective_grade,
    sp.subjective_grade, sp.extra_point,sp.paper_total_point,
    sp.student_total_point,sp.exam_id,sp.objective_status, sp.subjective_status,
    u.name student_name
    from student_point sp
    left join `user` u on u.id = sp.student_id
    where sp.exam_id =#{examId}
  </select>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, paper_code, student_id, objective_grade, subjective_grade, extra_point, 
    paper_total_point, student_total_point,exam_id,objective_status, subjective_status
    from student_point
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, paper_code, student_id, objective_grade, subjective_grade, extra_point, 
    paper_total_point, student_total_point,exam_id,objective_status, subjective_status
    from student_point
  </select>
</mapper>