<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.examsys.dao.StudentPointDetailMapper" >
  <resultMap id="BaseResultMap" type="com.examsys.model.StudentPointDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="paper_code" property="paperCode" jdbcType="VARCHAR" />
    <result column="question_id" property="questionId" jdbcType="INTEGER" />
    <result column="student_id" property="studentId" jdbcType="INTEGER" />
    <result column="def_answer" property="defAnswer" jdbcType="VARCHAR" />
    <result column="student_answer" property="studentAnswer" jdbcType="VARCHAR" />
    <result column="student_point" property="studentPoint" jdbcType="DOUBLE" />
    <result column="question_status" property="questionStatus" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from student_point_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.examsys.model.StudentPointDetail" >
    insert into student_point_detail (id, paper_code, question_id, 
      student_id, def_answer, student_answer, 
      student_point, question_status)
    values (#{id,jdbcType=INTEGER}, #{paperCode,jdbcType=VARCHAR}, #{questionId,jdbcType=INTEGER}, 
      #{studentId,jdbcType=INTEGER}, #{defAnswer,jdbcType=VARCHAR}, #{studentAnswer,jdbcType=VARCHAR}, 
      #{studentPoint,jdbcType=DOUBLE}, #{questionStatus,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.examsys.model.StudentPointDetail" >
    update student_point_detail
    set paper_code = #{paperCode,jdbcType=VARCHAR},
      question_id = #{questionId,jdbcType=INTEGER},
      student_id = #{studentId,jdbcType=INTEGER},
      def_answer = #{defAnswer,jdbcType=VARCHAR},
      student_answer = #{studentAnswer,jdbcType=VARCHAR},
      student_point = #{studentPoint,jdbcType=DOUBLE},
      question_status = #{questionStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, paper_code, question_id, student_id, def_answer, student_answer, student_point, 
    question_status
    from student_point_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, paper_code, question_id, student_id, def_answer, student_answer, student_point, 
    question_status
    from student_point_detail
  </select>
</mapper>