<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.examsys.dao.TestPaperDetailMapper" >
  <resultMap id="BaseResultMap" type="com.examsys.model.TestPaperDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="paper_code" property="paperCode" jdbcType="VARCHAR" />
    <result column="question_id" property="questionId" jdbcType="INTEGER" />
    <result column="must_or_not" property="mustOrNot" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="DOUBLE" />
    <result column="def_answer" property="defAnswer" jdbcType="VARCHAR" />
    <result column="category_content" property="categoryContent" jdbcType="VARCHAR" />
  </resultMap>

  <!--resultMap 获取单个试卷-->
  <resultMap id="testPaperEntity" type="com.examsys.model.entity.TestPaperListEntity">
    <result column="paper_code" property="paperCode" jdbcType="VARCHAR" />

    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="last_modified_time" property="lastModifiedTime" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="paper_description" property="paperDescription" jdbcType="VARCHAR" />

    <collection property="categoryList" ofType="com.examsys.model.entity.TestPaperEntity">
      <result column="paper_code" property="paperCode" jdbcType="VARCHAR" />
      <result column="category_content" property="categoryContent" jdbcType="VARCHAR" />
        <collection property="questionList" ofType="Map">
          <id column="ques_id" property="ques_id"></id>
          <result column="content" property="content"></result>
          <result column="options" property="options"></result>
          <result column="type" property="type"></result>
          <result column="def_ans" property="defAnswer"></result>
          <result column="score" property="score"></result>
          <result column="must_or_not" property="mustOrNot"></result>
          <result column="description" property="description"></result>
          <collection property="knowledge" javaType="java.util.List" ofType="java.lang.String">
            <result column="knowledge" property="knowledge" jdbcType="VARCHAR" />
          </collection>
        </collection>
    </collection>
  </resultMap>

  <!--获取单个试卷详情-->
  <select id="selectPapers" resultMap="testPaperEntity" parameterType="java.lang.String">
        SELECT t.paper_code paper_code,t.category_content category_content,
               t.question_id qid,t.must_or_not must_or_not,t.score score,t.def_answer def_ans,
               q.content content,q.options options,q.type type,q.description description,
               p.create_time create_time,p.last_modified_time last_modified_time,
               p.title title,p.description paper_description,p.create_user_id create_user_id,
               k.name knowledge,q.id ques_id
        FROM test_paper_detail t
        left join test_paper p on t.paper_code=p.paper_code
        LEFT JOIN question_library q on q.id=t.question_id
        left join ques_knowledge qk on q.id = qk.question_id
        left join knowledge k on k.id = qk.knowledge_id
        where t.paper_code=#{paperCode}
    </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from test_paper_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.examsys.model.TestPaperDetail" >
    insert into test_paper_detail (id, paper_code, question_id,
      must_or_not, score, def_answer,
      category_content)
    values (#{id,jdbcType=INTEGER}, #{paperCode,jdbcType=VARCHAR}, #{questionId,jdbcType=INTEGER},
      #{mustOrNot,jdbcType=INTEGER}, #{score,jdbcType=DOUBLE}, #{defAnswer,jdbcType=VARCHAR},
      #{categoryContent,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.examsys.model.TestPaperDetail" >
    update test_paper_detail
    set paper_code = #{paperCode,jdbcType=VARCHAR},
      question_id = #{questionId,jdbcType=INTEGER},
      must_or_not = #{mustOrNot,jdbcType=INTEGER},
      score = #{score,jdbcType=DOUBLE},
      def_answer = #{defAnswer,jdbcType=VARCHAR},
      category_content = #{categoryContent,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, paper_code, question_id, must_or_not, score, def_answer, category_content
    from test_paper_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, paper_code, question_id, must_or_not, score, def_answer, category_content
    from test_paper_detail
  </select>





</mapper>